.Register {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);

  .label {
    font-size: 24px;
    color: white;
  }

  .input {
    font-size: 24px;
    padding: 4px 8px;
  }

  .row {
    padding-bottom: 20px;
  }
}
